$primary-color: #4286f4;
$primary-color-light: #90b7f7;

$secondary-color: #a0b4d4;
$secondary-color-light: #d9dfe9;

$accent-color: #ffb06e;
$accent-color-dark: #da8d4d;
$dark-color: #333;

$foundation-color: #efefef;
