@import '../../styles/variables';

.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;

  h1 {
    color: $accent-color;
    font-size: 8em;
  }

  p {
    margin: 0 24px;
  }
}

@media only screen and (max-width: 768px) {
  .header-container {
    flex-direction: column;

    h1 {
      font-size: 5em;
    }
  }
}
