@import '../../styles/variables';

.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;

  h1 {
    color: $accent-color;
    font-size: 8em;
    padding-left: 1em;

    &:hover {
      cursor: pointer;
    }
  }

  p {
    margin: 2em;
  }
}

.snackbar {
  text-align: right;
  font-size: .75em;
  color: white;
  padding: .5em;
  padding-right: 2em;
  background-color: $accent-color-dark;
}

@media only screen and (max-width: 768px) {
  .header-container {
    flex-direction: column;

    h1 {
      font-size: 5em;
      padding: 0;
    }
  }
}
