<div class="divider">
  <div class="portrait-container">
    <a
      href="https://github.com/samihamed"
      target="_blank"
    >
      <img
        src="../../assets/portrait.JPG"
      >
    </a>
  </div>
    <div class="flex-row">
      <a routerLink="/blog" routerLinkActive="active">
        <h2 (click)="onClickGreeting()">
          BLOG
        </h2>
      </a>
      <a routerLink="/cv" routerLinkActive="active">
        <h2 (click)="onClickGreeting()">
          CV
        </h2>
      </a>
      <a routerLink="/connect" routerLinkActive="active">
        <h2 (click)="onClickGreeting()">
          LINKS
        </h2>
      </a>
    </div>
</div>
