@import '../../styles';

.divider {
  display: flex;
  height: 5em;
  background-color: $dark-color;
  margin-bottom: 4em;
  align-items: center;

  .portrait-container {
    height: 8em;
    min-width: 8em;
    border-radius: 50%;
    border: .25em solid white;
    overflow: hidden;
    margin-left: 8em;

    img {
      object-fit: contain;
      height: 100%;
    }
  }

  .flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .divider {
    height: 100%;
    flex-direction: column;

    .portrait-container {
      margin: 1em;
    }
  }
}
