<div class="contact">

  <a
    class="contact-option"
    href="https://github.com/samihamed"
    target="_blank"
  >
    <img
      class="language-icon"
      src="https://raw.githubusercontent.com/samihamed/static/master/assets/icons/github.png"
    >
  </a>

  <a
    class="contact-option"
    href="https://linkedin.com/in/samihamed"
    target="_blank"
  >
    <img
      class="language-icon"
      src="https://raw.githubusercontent.com/samihamed/static/master/assets/icons/linkedin.png"
    >
  </a>

  <a
    class="contact-option"
    href="https://www.xing.com/profile/Sami_Hamed5/cv"
    target="_blank"
  >
    <img
      class="language-icon"
      src="https://raw.githubusercontent.com/samihamed/static/master/assets/icons/xing.png"
    >
  </a>

  <a
    class="contact-option"
    href="mailto:hello@iaiaio.io"
    target="_blank"
  >
    <img
      class="language-icon"
      src="https://raw.githubusercontent.com/samihamed/static/master/assets/icons/mail.png"
    >
  </a>

  <a
    class="contact-option"
    href="https://instagram.com/capopoeira"
    target="_blank"
  >
    <img
      class="language-icon"
      src="https://raw.githubusercontent.com/samihamed/static/master/assets/icons/instagram.png"
    >
  </a>

  <a
    class="contact-option"
    href="https://medium.com/@samihamed"
    target="_blank"
  >
    <img
      class="language-icon"
      src="https://raw.githubusercontent.com/samihamed/static/master/assets/icons/medium.png"
    >
  </a>

</div>
