<div class="cv">

  <div class="vertical-container">

    <h2>ABOUT ME</h2>

    <p>
      Hi! My name is
       <a href="https://github.com/samihamed" target="_blank">Sami Hamed</a>,
       I'm a capoeira teacher and
       software developer in Frankfurt, Germany.
       I graduated in social anthropology with a focus
       on the German startup community [BA] and the
       evolution of interface design [MA(WIP)].
    </p>

    <h2>EDUCATION</h2>

    <p>
      [2014 - 2017] Master of Arts (M.A.) in Cultural Anthropology
       | Goethe-Universität Frankfurt am Main. Thesis on the evolution
       of modern user interfaces and the consequence of using skeuomorphic
       metaphors in UI design.
    </p>
    <br>
    <p>
      [2011 - 2014] Bachelor of Arts (B.A.) in Cultural Anthropology |
       Goethe-Universität Frankfurt am Main. Thesis on the changing concept
       of 'neighborhood' through web-based shareconomy startups in major
       German cities.
    </p>

    <h2>LANGUAGES</h2>

    <div class="flex-row">
      <div>
        <img
          class="language-icon"
          src="https://raw.githubusercontent.com/samihamed/static/master/assets/icons/german.png"
        >
      </div>
      <div>
        <img
          class="language-icon"
          src="https://raw.githubusercontent.com/samihamed/static/master/assets/icons/english.png"
        >
      </div>
      <div>
        <img
          class="language-icon"
          src="https://raw.githubusercontent.com/samihamed/static/master/assets/icons/portuguese.png"
        >
      </div>
    </div>

  </div>

  <div class="vertical-divider"></div>

  <div class="vertical-container">

    <h2>WORK EXPERIENCE</h2>

    <div class="work-experience">
      <h3>12/2017 - ... (Lead Developer)</h3>
      <ul>
        <li>Manage a team of developers and product manager</li>
        <li>Disciplinary lead two developers and informally lead chapters for various cross-team projects</li>
        <li>Review features and pull requests by other developers</li>
        <li>Translate feature requests to actionable tickets for developers</li>
        <li>Create visual style guide for uniform frontend apps across the application landscape</li>
        <li>Improve onboarding UX and conversion from 40% up to 85%</li>
        <li>Implement testing workflows between product owners, developers and other internal stakeholders</li>
        <li>Provide highest-level support for customers and internal users</li>
        <li>Upgrade framework for a complex frontend application throughout 2018 while continuously releasing new features</li>
        <li>Maintain and develop multiple web applications responsible for various user types and essential for majority of revenue streams</li>
        <li>Prepare development roadmaps and prioritise features based on BI research data</li>
        <li>Add 150.000+ lines of code to core customer-facing product</li>
        <li>Make things work on IE11 🤦🏽‍♂</li>
      </ul>

      <h3>03/2017 - 12/2017 (Frontend Developer)</h3>
      <ul>
        <li>Develop and maintain advanced hotel industry web application</li>
        <li>Coordinate design and implementation of various frontend features in collaboration with CTO, stakeholder representatives and development teams</li>
        <li>Write extensible and maintainable code as part of a team</li>
      </ul>
    </div>

  </div>

  <div class="vertical-divider"></div>

  <div class="vertical-container">

    <h2>TECH STACK</h2>

    <div class="tech-stack">
      <img
        class="icon"
        src="https://raw.githubusercontent.com/samihamed/static/master/assets/icons/angularjs.png"
      >

      <img
        class="icon"
        src="https://raw.githubusercontent.com/samihamed/static/master/assets/icons/react.png"
      >

      <img
        class="icon"
        src="https://raw.githubusercontent.com/samihamed/static/master/assets/icons/sass.png"
      >

      <img
        class="icon"
        src="https://raw.githubusercontent.com/samihamed/static/master/assets/icons/nodejs.png"
      >

      <img
        class="icon"
        src="https://raw.githubusercontent.com/samihamed/static/master/assets/icons/git.png"
      >

      <img
        class="icon"
        src="https://raw.githubusercontent.com/samihamed/static/master/assets/icons/js.png"
      >

      <img
        class="icon"
        src="https://raw.githubusercontent.com/samihamed/static/master/assets/icons/html5.png"
      >

      <img
        class="icon"
        src="https://raw.githubusercontent.com/samihamed/static/master/assets/icons/css3.png"
      >

      <img
        class="icon"
        src="https://raw.githubusercontent.com/samihamed/static/master/assets/icons/mongodb.png"
      >
    </div>

  </div>

</div>

