@import '../../styles/variables';

.cv {
  display: flex;
  flex-direction: row;
  justify-content: center;

  .vertical-divider {
    background-color: $dark-color;
    width: 4px;
  }

  .vertical-container {
    width: 30%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 1em;

    .logo {
      height: 20em;
    }

    p { text-align: justify; }

    .contact {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;

      .contact-option {
        margin: 1em;

        img {
          height: 45px;
        }
      }
    }

    .work-experience {
      padding: 1em;
      width: 100%;
      text-align: justify;

      ul {
        li {
          margin-left: 1em;
        }
      }
    }
  }
}

.flex-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  .language-icon {
    height: 48px;
  }
}

.icon {
  height: 60px;
  margin: 1em 0;
}

@media only screen and (max-width: 768px) {
  .cv {
    flex-direction: column;

    .vertical-container {
      width: 100%;
    }
  }
}
