/* You can add global styles to this file, and also import other style files */
@import './app/styles/reset';
@import './app/styles/variables';

body {
  font-family: 'Raleway', monospace;
  background-color: $foundation-color;
  height: 100%;
  min-height: 98vh;
}

h1, h2, h3 {
  font-family: 'Roboto Condensed', Helvetica;
  color: $accent-color;
}

a {
  text-decoration: none;
  color: $primary-color;

  h2 {
    color: $secondary-color;
    text-decoration: none;

    :hover {
      color: white !important;
      text-decoration: none;

      -webkit-transition: color .7s;
      transition: color .7s;
    }
  }

  :hover {
    color: white !important;
    text-decoration: none;

    -webkit-transition: color .7s;
    transition: color .7s;
  }
}
