/* You can add global styles to this file, and also import other style files */
@import './app/styles/reset';
@import './app/styles/variables';

body {
  font-family: 'Roboto', monospace;
  margin: 0 auto;
  padding: 5%;
  max-width: 1000px;
  background-color: $foundation-color;
  height: 100%;
  min-height: 98vh;
}

h1, h2, h3 {
  font-family: 'Nanum Gothic', Helvetica;
  color: $accent-color;
}

a {
  text-decoration: none;
  color: $primary-color;

  h2 {
    color: $secondary-color;
    text-decoration: none;
  }
}

a:hover {
  text-decoration: underline;
}
