/* You can add global styles to this file, and also import other style files */
@import './app/styles/reset';
@import './app/styles/variables';

body {
  font-family: 'Roboto', monospace;
  margin: 0;
  padding: 24px;
  border: 1vh solid $dark-color;
  background-color: $foundation-color;
  height: 100%;
  min-height: 98vh;
}

h1, h2, h3 {
  font-family: 'Nanum Gothic', Helvetica;
}

a {
  color: $accent-color;
  text-decoration: none;
}
